<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="defaultStatementTimeout" value="30"/>
    </settings>
    
    <typeAliases>
        <typeAlias alias="functionModule" type="com.wodi.sdweb.model.FunctionModule" />
        <typeAlias alias="SpProduct" type="com.wodi.sdweb.model.SpProduct" />
        <typeAlias alias="SpProductDownload" type="com.wodi.sdweb.model.SpProductDownload" />
        <typeAlias alias="SpProductType" type="com.wodi.sdweb.model.SpProductType" />
        <typeAlias alias="SpProductSeries" type="com.wodi.sdweb.model.SpProductSeries" />
        <typeAlias alias="ModuleLayout" type="com.wodi.sdweb.model.ModuleLayout" />
        <typeAlias alias="SpLayout" type="com.wodi.sdweb.model.SpLayout" />
        <typeAlias alias="SpNews" type="com.wodi.sdweb.model.SpNews" />
        <typeAlias alias="SpOrder" type="com.wodi.sdweb.model.SpOrder" />
        <!-- womc 
        <typeAlias type="com.ailk.womc.domain.kpi.ImKpi" alias="imKpi"/>-->
       
    </typeAliases>
 <!--
    <typeHandlers>
    	<typeHandler handler="macaddr" javaType="java.lang.String" jdbcType="OTHER"/>
    	<typeHandler handler="cidr" javaType="java.lang.String" jdbcType="OTHER"/>
    	<typeHandler handler="inet" javaType="java.lang.String" jdbcType="OTHER"/>
    </typeHandlers>-->
    
</configuration>