BODY {
	MARGIN: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #4c4c4c; FONT-SIZE: 12px
}
IMG {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; BORDER-RIGHT-STYLE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; PADDING-TOP: 0px
}
A:link {
	COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A:hover {
	COLOR: #e51e21; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A:active {
	COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.header {
	BORDER-BOTTOM: #e0e0e0 1px solid; BORDER-LEFT: #e0e0e0 1px; MARGIN: 0px auto; WIDTH: 1002px; FLOAT: none; HEIGHT: 83px; BORDER-TOP: #e0e0e0 1px; BORDER-RIGHT: #e0e0e0 1px
}
.logo {
	MARGIN-TOP: 12px; PADDING-LEFT: 35px; WIDTH: 180px; FLOAT: left; HEIGHT: 60px
}
.header_R {
	FLOAT: left; HEIGHT: 90px !important; MARGIN-LEFT: 24px
}
.header_R_T {
	LINE-HEIGHT: 32px; MARGIN-TOP: 10px; WIDTH: 280px; MARGIN-LEFT: 456px; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.nav {
	MARGIN-TOP: 8px; WIDTH: 745px; HEIGHT: 33px
}
.nav UL LI {
	BACKGROUND-IMAGE: url(../images/nav_bg.jpg); TEXT-ALIGN: center; LINE-HEIGHT: 33px; LIST-STYLE-TYPE: none; WIDTH: 92px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-POSITION: center 50%; FLOAT: left; HEIGHT: 33px; COLOR: #ffffff; FONT-SIZE: 12px; FONT-WEIGHT: bold; LIST-STYLE-IMAGE: none; MARGIN-RIGHT: 1px
}
.nav UL LI A:link {
	COLOR: #ffffff; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.nav UL LI A:visited {
	COLOR: #ffffff; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.nav UL LI A:hover {
	COLOR: #ffff00; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.nav UL LI A:active {
	COLOR: #ffffff; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.content {
	BACKGROUND-IMAGE: url(../images/banner_border_c.jpg); MARGIN: 10px auto 0px; WIDTH: 960px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 295px
}
.tad_lr {
	WIDTH: 268px; FLOAT: left; MARGIN-LEFT: 18px !important; MARGIN-RIGHT: 14px
}
.content_L {
	WIDTH: 14px; FLOAT: left; HEIGHT: 294px
}
.content_R {
	WIDTH: 13px; FLOAT: right; HEIGHT: 294px
}
.banner {
	WIDTH: 690px; FLOAT: left; HEIGHT: 281px; MARGIN-LEFT: 15px !important; PADDING-TOP: 15px
}
.nav_btn {
	MARGIN-TOP: 10px; FLOAT: left; HEIGHT: 180px; MARGIN-LEFT: 10px
}
.nav_btn UL LI {
	LIST-STYLE-TYPE: none; MARGIN-TOP: 7px; WIDTH: 210px; HEIGHT: 61px; MARGIN-LEFT: 15px; LIST-STYLE-IMAGE: none
}
.containe {
	MARGIN: 10px auto 4px; WIDTH: 930px; HEIGHT: 209px
}
.tad {
	PADDING-LEFT: 1px !important; HEIGHT: 30px
}
.tad01 {
	BACKGROUND-IMAGE: url(../images/tad_01.jpg); TEXT-ALIGN: center; LINE-HEIGHT: 30px; LIST-STYLE-TYPE: none; WIDTH: 200px; FLOAT: left; HEIGHT: 30px; COLOR: #000000; FONT-SIZE: 12px; CURSOR: pointer; LIST-STYLE-IMAGE: none
}
.tad02 {
	BACKGROUND-IMAGE: url(../images/tad_02.jpg); TEXT-ALIGN: center; LINE-HEIGHT: 30px; LIST-STYLE-TYPE: none; WIDTH: 200px; FLOAT: left; HEIGHT: 30px; COLOR: #000000; FONT-SIZE: 12px; CURSOR: pointer; FONT-WEIGHT: bold; LIST-STYLE-IMAGE: none
}
.d_line {
	BORDER-BOTTOM: #c2c2c2 1px solid; WIDTH: 3px; FLOAT: left; HEIGHT: 29px
}
.no {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
.ll {
	WIDTH: 113px; FLOAT: left
}
.tad_wz {
	BACKGROUND-IMAGE: url(../images/tad_bg.jpg); BORDER-BOTTOM: #c6c6c6 1px solid; BORDER-LEFT: #c6c6c6 1px solid; PADDING-LEFT: 10px; PADDING-RIGHT: 8px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 159px; MARGIN-LEFT: 1px !important; BORDER-RIGHT: #c6c6c6 1px solid; PADDING-TOP: 20px
}
.sdv3 {
	MARGIN-BOTTOM: 10px; HEIGHT: 29px
}
.sdv_wz A:link {
	COLOR: #fc6805; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.sdv_wz A:visited {
	COLOR: #fc6805; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.sdv_wz A:hover {
	COLOR: #35ba4f; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.sdv_wz A:active {
	COLOR: #fc6805; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.sdv_wz {
	LINE-HEIGHT: 22px; COLOR: #333333
}
.tad .se {
	BORDER-BOTTOM: #c6c6c6 1px solid; WIDTH: 119px; FLOAT: left; HEIGHT: 29px
}
.text {
	BORDER-BOTTOM: #ddded8 1px solid; BORDER-LEFT: #ddded8 1px solid; LINE-HEIGHT: 18px; WIDTH: 93px; MARGIN-BOTTOM: 5px; FLOAT: left; HEIGHT: 18px; COLOR: #676767; MARGIN-LEFT: 2px; BORDER-TOP: #ddded8 1px solid; BORDER-RIGHT: #ddded8 1px solid
}
.tadss {
	WIDTH: 25px; FLOAT: left; HEIGHT: 22px
}
.footer {
	BACKGROUND-IMAGE: url(../images/footer_bg.jpg); LINE-HEIGHT: 32px; MARGIN: 0px auto; WIDTH: 930px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 61px; COLOR: #898989
}
.footer A:link {
	COLOR: #8b8b8b; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.footer A:visited {
	COLOR: #8b8b8b; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.footer A:hover {
	COLOR: #e51e21; FONT-SIZE: 12px
}
.footer A:active {
	COLOR: #8b8b8b; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.sdv_wz {
	LINE-HEIGHT: 22px; COLOR: #333333
}
.footerr {
	FLOAT: right; MARGIN-RIGHT: 15px
}
.footerl {
	FLOAT: left; MARGIN-LEFT: 15px
}
.pagemain {
	MARGIN-TOP: 10px; WIDTH: 950px; MARGIN-LEFT: 36px
}
.left {
	BACKGROUND-IMAGE: url(../images/pageleftbg.jpg); BACKGROUND-COLOR: #cccccc; WIDTH: 200px; BACKGROUND-REPEAT: repeat-y; FLOAT: left
}
.left UL LI {
	BACKGROUND-IMAGE: url(../images/leftmenu_bg.jpg); BORDER-BOTTOM: #e3e3e3 1px solid; LINE-HEIGHT: 36px; LIST-STYLE-TYPE: none; PADDING-LEFT: 38px; WIDTH: 143px; BACKGROUND-REPEAT: no-repeat; COLOR: #5b5b5b; MARGIN-LEFT: 10px; FONT-SIZE: 12px; FONT-WEIGHT: bold; MARGIN-RIGHT: 10px
}
.left LI LI {
	BACKGROUND-IMAGE: url(../images/sjtb.jpg); BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; LINE-HEIGHT: 24px; BORDER-RIGHT-STYLE: none; TEXT-INDENT: 10px; MARGIN: 0px 0px 0px -10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 0px 50%; BORDER-TOP-STYLE: none; HEIGHT: 24px; COLOR: #5b5b5b; FONT-SIZE: 12px; BORDER-LEFT-STYLE: none; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
.left UL LI A:link {
	COLOR: #5b5b5b; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.left UL LI A:visited {
	COLOR: #5b5b5b; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.left UL LI A:hover {
	COLOR: #e3200e; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.left UL LI A:active {
	COLOR: #5b5b5b; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.left UL LI LI A:link {
	COLOR: #5b5b5b; FONT-SIZE: 12px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.left UL LI LI A:visited {
	COLOR: #5b5b5b; FONT-SIZE: 12px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.left UL LI LI A:hover {
	COLOR: #e3200e; FONT-SIZE: 12px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.left UL LI LI A:active {
	COLOR: #5b5b5b; FONT-SIZE: 12px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.banner2 {
	BACKGROUND-IMAGE: url(../images/pagebanner_bg.jpg); PADDING-LEFT: 8px; WIDTH: 736px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 181px; PADDING-TOP: 7px
}
.pl_title {
	LINE-HEIGHT: 36px; BACKGROUND-COLOR: #e0e0e0; PADDING-LEFT: 20px; WIDTH: 180px; HEIGHT: 36px; COLOR: #e3200e; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.right {
	WIDTH: 744px; FLOAT: left; MARGIN-LEFT: 2px
}
.dh {
	BACKGROUND-IMAGE: url(../images/dh_bg.jpg); LINE-HEIGHT: 30px; MARGIN-TOP: 3px; PADDING-LEFT: 15px; WIDTH: 715px; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Arial, Helvetica, sans-serif; MARGIN-BOTTOM: 12px; HEIGHT: 30px; COLOR: #8e8e8e; MARGIN-LEFT: 3px; FONT-SIZE: 12px
}
.main {
	WIDTH: 736px; MARGIN-BOTTOM: 15px; FLOAT: left; MARGIN-LEFT: 5px; FONT-SIZE: 12px
}
.main_tt {
	BACKGROUND-IMAGE: url(../images/maintt_bg.jpg); LINE-HEIGHT: 24px; BACKGROUND-COLOR: #ececec; PADDING-LEFT: 35px; WIDTH: 680px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 8px center; MARGIN-BOTTOM: 10px; HEIGHT: 24px; COLOR: #5c5b5b; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.fleft {
	FLOAT: left
}
.fright {
	FLOAT: right
}
.pro_tb {
	PADDING-LEFT: 10px; WIDTH: 162px; FLOAT: left; PADDING-TOP: 15px
}
.pro_wz {
	LINE-HEIGHT: 24px; WIDTH: 536px; MARGIN-BOTTOM: 12px; FLOAT: left; COLOR: #4c4c4c
}
.pro_tb2 {
	PADDING-LEFT: 20px; MARGIN-BOTTOM: 12px; FLOAT: left; MARGIN-RIGHT: 20px; PADDING-TOP: 8px
}
.pro_wz2 {
	LINE-HEIGHT: 24px; WIDTH: 456px; MARGIN-BOTTOM: 12px; FLOAT: left; COLOR: #4c4c4c
}
.pro_wz2 A:link {
	COLOR: #565656; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
.pro_wz2 A:visited {
	COLOR: #565656; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
.pro_wz2 A:hover {
	COLOR: #e51e21; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
.pro_wz2 A:active {
	COLOR: #4c4c4c; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
.line {
	BORDER-BOTTOM: #dcdcdc 1px dashed; WIDTH: 715px; HEIGHT: 90px
}
.f22 {
	LINE-HEIGHT: 22px; MARGIN-TOP: 5px; PADDING-LEFT: 4px; COLOR: #545454
}
.font24 {
	LINE-HEIGHT: 24px; PADDING-LEFT: 15px; WIDTH: 680px; MARGIN-BOTTOM: 15px; COLOR: #4c4c4c
}
.font24 LI {
	LIST-STYLE-TYPE: decimal; FONT-SIZE: 12px
}
.font24 IMG {
	MARGIN-TOP: -15px !important; MARGIN-LEFT: 50px
}
.sev {
	WIDTH: 214px; MARGIN-BOTTOM: 15px; FLOAT: left; MARGIN-LEFT: 20px !important; MARGIN-RIGHT: 0px !important
}
.sev_kk {
	MARGIN-TOP: 20px
}
.chatable {
	LINE-HEIGHT: 22px; MARGIN-BOTTOM: 10px; COLOR: #4c4c4c; MARGIN-LEFT: 15px
}
.redfont {
	LINE-HEIGHT: 26px; FONT-FAMILY: "ו"; COLOR: #ff0000; MARGIN-LEFT: 2px; FONT-WEIGHT: normal; MARGIN-RIGHT: 2px
}
.sol_tb {
	PADDING-LEFT: 20px; WIDTH: 162px; FLOAT: left; PADDING-TOP: 20px
}
.sol_wz {
	LINE-HEIGHT: 24px; PADDING-LEFT: 28px; WIDTH: 502px; MARGIN-BOTTOM: 12px; FLOAT: left; COLOR: #4c4c4c
}
.sol_wz UL LI {
	BACKGROUND-IMAGE: url(../images/dian.jpg); BORDER-BOTTOM: #dadada 1px dashed; LINE-HEIGHT: 25px; LIST-STYLE-TYPE: none; PADDING-LEFT: 10px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 1px 50%; HEIGHT: 25px
}
.sol_wz2 {
	LINE-HEIGHT: 24px; PADDING-LEFT: 28px; WIDTH: 687px; MARGIN-BOTTOM: 12px; FLOAT: left; COLOR: #4c4c4c
}
.sol_wz2 UL LI {
	BACKGROUND-IMAGE: url(../images/dian.jpg); BORDER-BOTTOM: #dadada 1px dashed; LINE-HEIGHT: 25px; LIST-STYLE-TYPE: none; PADDING-LEFT: 10px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 1px 50%; HEIGHT: 25px
}
.sol_wz UL LI A {
	COLOR: #565656; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.sol_wz UL LI A:hover {
	COLOR: #e51e21; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.sol_wz2 UL LI A {
	COLOR: #565656; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.sol_wz2 UL LI A:hover {
	COLOR: #e51e21; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.font10 {
	FONT-SIZE: 8px; VERTICAL-ALIGN: 10%
}
.syb {
	LINE-HEIGHT: 24px; PADDING-LEFT: 12px; WIDTH: 695px; MARGIN-BOTTOM: 10px; COLOR: #4c4c4c; BORDER-TOP: #dddddd 1px dashed; PADDING-TOP: 10px
}
.syb IMG {
	MARGIN-TOP: 5px; FLOAT: left; MARGIN-RIGHT: 15px
}
.glmk {
	LINE-HEIGHT: 24px; PADDING-LEFT: 12px; WIDTH: 695px; COLOR: #4c4c4c; PADDING-TOP: 10px
}
.glmk IMG {
	MARGIN-TOP: 4px; FLOAT: right; MARGIN-LEFT: 10px; MARGIN-RIGHT: 25px
}
.glmk UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.glmk UL LI {
	LIST-STYLE-TYPE: disc; TEXT-INDENT: 3px
}
.saas9 {
	PADDING-LEFT: 20px; PADDING-TOP: 5px !important
}
.saas01 {
	LINE-HEIGHT: 35px; MARGIN-TOP: 0px !important; WIDTH: 200px; MARGIN-BOTTOM: 15px !important; FLOAT: left; HEIGHT: 35px; MARGIN-RIGHT: 27px
}
.lineheight24 {
	LINE-HEIGHT: 24px
}
.ctable {
	LINE-HEIGHT: 24px; BACKGROUND-COLOR: #ffffff
}
.ctt {
	TEXT-ALIGN: center; BACKGROUND-COLOR: #007838; COLOR: #ffffff; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
.ctd {
	BACKGROUND-COLOR: #d9ede1; PADDING-LEFT: 10px; FONT-SIZE: 12px
}
.FeaturePic A {
	DISPLAY: none
}
.pro_gn {
	LINE-HEIGHT: 24px; PADDING-LEFT: 15px; WIDTH: 680px; MARGIN-BOTTOM: 15px; COLOR: #484848; FONT-SIZE: 12px
}
.pro_gn UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.pro_gn LI {
	LINE-HEIGHT: 28px; LIST-STYLE-TYPE: none; WIDTH: 78px; FLOAT: left; HEIGHT: 28px
}
.pro_gn A:link {
	COLOR: #295a9a; TEXT-DECORATION: underline
}
.pro_gn A:visited {
	COLOR: #295a9a; TEXT-DECORATION: underline
}
.pro_gn A:hover {
	COLOR: #484848; TEXT-DECORATION: none
}
.pro_gn A:active {
	COLOR: #295a9a; TEXT-DECORATION: underline
}
.jj10 {
	MARGIN-TOP: 10px; WIDTH: 705px; MARGIN-BOTTOM: 15px
}
.ff_left {
	FLOAT: left
}
.line_under {
	BORDER-BOTTOM: #d1d1d1 1px solid; WIDTH: 282px; FLOAT: left; HEIGHT: 28px
}
.bb-line {
	MARGIN-TOP: 15px; MARGIN-LEFT: 15px; BORDER-TOP: #cccccc 1px dashed
}
.djbj24 {
	LINE-HEIGHT: 24px; FLOAT: left; MARGIN-LEFT: 15px !important
}
line_top {
	MARGIN-TOP: 15px
}
.saasbox {
	WIDTH: 280px
}
