body {
	color: rgb(51, 51, 51); font-family: "宋体"; font-size: 12px;
}
td {
	color: rgb(51, 51, 51); font-family: "宋体"; font-size: 12px;
}
th {
	color: rgb(51, 51, 51); font-family: "宋体"; font-size: 12px;
}
body {
	margin: 0px; background-image: url("../images/ind_bg.jpg");
}
table {
	text-align: left;
}
.divbody {
	width: 982px; float: left; background-color: rgb(255, 255, 255);
}
#fd {
	background: rgb(217, 220, 199); width: 610px; height: 188px; overflow: hidden; position: absolute;
}
a:link {
	color: rgb(51, 51, 51); font-size: 12px; text-decoration: none;
}
a:visited {
	color: rgb(51, 51, 51); font-size: 12px; text-decoration: none;
}
a:hover {
	color: rgb(255, 0, 0); font-size: 12px; text-decoration: underline;
}
.tel_hg {
	line-height: 16px; font-family: "宋体"; font-size: 12px; font-weight: bold;
}
.tel_vip {
	letter-spacing: 1px; font-family: "宋体"; font-size: 12px; font-weight: bold;
}
.bk {
	border-width: 1px; border-style: dashed solid solid; border-color: rgb(217, 220, 199);
}
.ind_14px {
	color: rgb(90, 90, 90); font-size: 14px; font-weight: bold;
}
.ind_hs {
	color: rgb(90, 90, 90);
}
.ind_hg {
	line-height: 20px;
}
.bgwaikuang_4 {
	border: 1px solid rgb(217, 220, 199); border-image: none;
}
.STYLE1 {
	font-size: 13px;
}
.STYLE2 {
	color: rgb(90, 90, 90); font-size: 14px; font-weight: bold;
}
.STYLE3 {
	color: rgb(90, 90, 90);
}
.STYLE4 {
	font-family: Geneva, Arial, Helvetica, sans-serif; font-weight: bold;
}
.STYLE6 {
	font-family: "宋体";
}
.STYLE8 {
	color: rgb(204, 0, 0); font-family: "宋体"; font-weight: bold;
}
.STYLE10 {
	color: rgb(0, 153, 51); font-weight: bold;
}
.STYLE13 {
	color: rgb(204, 0, 0); font-weight: bold;
}
.STYLE14 {
	font-family: "Times New Roman", Times, serif;
}
.tdbk {
	border: 1px solid rgb(217, 220, 199); border-image: none;
}
.tel_kd_1 {
	letter-spacing: 1.5px;
}
.tdbk_4 {
	border: 1px solid rgb(217, 220, 199); border-image: none;
}
.tdbk_ry_4 {
	border: 1px solid rgb(0, 153, 51); border-image: none;
}
.tel_yy {
	color: rgb(8, 105, 0); font-size: 13px; font-weight: bold;
}
.hg {
	line-height: 20px;
}
.hg_fa {
	line-height: 18px;
}
.news a:link {
	color: rgb(0, 85, 43); font-size: 14px; font-weight: normal; text-decoration: none;
}
.news a:visited {
	color: rgb(0, 85, 43); font-size: 14px; font-weight: normal; text-decoration: none;
}
.news a:hover {
	color: rgb(255, 0, 0); font-size: 14px; font-weight: normal; text-decoration: underline;
}
.news {
	color: rgb(0, 85, 43); font-size: 14px; font-weight: normal;
}
.mmm {
	border-style: none none dashed; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px;
}
.title {
	color: rgb(0, 85, 43); line-height: 25px; font-family: "黑体"; font-size: 20px;
}
.lanmu {
	color: rgb(3, 104, 0); font-family: "黑体"; font-size: 15px; font-weight: bold; text-decoration: none;
}
.mli a:link {
	color: rgb(0, 85, 43); font-size: 13px; font-weight: normal; text-decoration: none;
}
.mli a:visited {
	color: rgb(0, 85, 43); font-size: 13px; font-weight: normal; text-decoration: none;
}
.mli a:hover {
	color: rgb(255, 0, 0); font-size: 13px; font-weight: normal; text-decoration: underline;
}
.mli {
	list-style: inside; width: 192px; color: rgb(0, 85, 43); line-height: 20px; font-size: 13px; text-decoration: none; float: left;
}
.mmli a:link {
	color: rgb(0, 85, 43); font-size: 13px; font-weight: normal; text-decoration: none;
}
.mmli a:visited {
	color: rgb(0, 85, 43); font-size: 13px; font-weight: normal; text-decoration: none;
}
.mmli a:hover {
	color: rgb(255, 0, 0); font-size: 13px; font-weight: normal; text-decoration: underline;
}
.mmli {
	color: rgb(0, 85, 43); font-size: 13px; text-decoration: none;
}
.title_fa {
	color: rgb(0, 85, 43); font-size: 16px; font-weight: bold;
}
.top {
	border-bottom-color: rgb(220, 220, 220); border-bottom-width: 1px; border-bottom-style: solid;
}
.top td {
	background: rgb(244, 244, 244);
}
.top table td {
	padding: 3px 10px;
}
.top a {
	
}
.top .inputText {
	border: 1px solid rgb(153, 153, 153); border-image: none; height: 14px;
}
.top .inputSub {
	height: 19px;
}
.hghg {
	line-height: 18px;
}
.showpage .epages {
	text-align: center;
}
.epages {
	font: 11px/12px Tahoma; margin: 3px 0px; font-size-adjust: none; font-stretch: normal;
}
.epages * {
	vertical-align: middle;
}
.epages a {
	font: 12px/14px verdana; margin: 0px 1px 0px 0px; padding: 1px 4px; border: 1px solid rgb(166, 203, 231); border-image: none; text-align: center; text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.epages a:hover {
	background: rgb(243, 248, 239); border: 1px solid rgb(101, 155, 40); border-image: none; color: rgb(0, 76, 125); text-decoration: none;
}
.epages input {
	font: bold 12px/15px Verdana; border: 1px solid rgb(101, 155, 40); border-image: none; height: 15px; color: rgb(101, 155, 40); padding-bottom: 1px; padding-left: 1px; margin-right: 1px; margin-bottom: 0px; font-size-adjust: none; font-stretch: normal;
}
.mmm {
	border-style: dashed none none; border-top-color: rgb(204, 204, 204); border-top-width: 1px;
}
.xzdhh_11 a:link {
	color: rgb(255, 153, 102); font-size: 12px; text-decoration: none;
}
.xzdhh_11 a:visited {
	color: rgb(255, 153, 102); font-size: 12px; text-decoration: none;
}
.xzdhh_11 a:hover {
	color: rgb(0, 255, 0); font-size: 12px; text-decoration: none;
}
.xzdhh_11 {
	color: rgb(255, 153, 102); font-size: 12px; text-decoration: none;
}
